.Home-page {
  width: 100%;
  min-height: 91.5vh;
  max-height: auto;
}

.homeimg {
  width: 300vw;
  height: 60vh;
  border-radius: 5%;
  margin-right: 40px;
}

@media (max-width: 980px) {
  .homeimg {
    display: block;
    margin: auto;
    margin-bottom: 85%;
  }
}
